<div class="backgroundImage">
<div class="form-container ">
    <form class="appointment-form" #myForm="ngForm" (ngSubmit)="onSubmit()">
        <h2 class="form-header">Appointment Form</h2>

        <!-- Parent's info -->
        <div class="input-group">
            <label for="parentName">Parent's Name</label>
            <input type="text" id="parentName" placeholder="Parent's Name" [(ngModel)]="parentName" required>
        </div>
        <div class="input-group">
            <label for="parentSurname">Parent's Surname</label>
            <input type="text" id="parentSurname" placeholder="Parent's Surname" required>
        </div>

        <!-- Baby's info -->
        <div class="input-group">
            <label for="BabyName">Baby's name</label>
            <input type="text" id="BabyName" placeholder="Baby's name" required>
        </div>
        <div class="input-group">
            <label for="BabyAge">Baby's age</label>
            <input type="number" id="BabyAge" placeholder="Baby's age" required>
        </div>
        <div class="input-group">
            <label for="Babyweight">Baby's weight</label>
            <input type="number" id="Babyweight" placeholder="Baby's weight" required>
        </div>
        <div class="input-group">
            <label for="reason">Reason of appointment</label>
            <textarea id="reason" placeholder="Reason of appointment" required></textarea>
        </div>
        
        <!-- Appointment info -->
        <div class="input-group">
            <label for="appointmentDate">Date of Appointment</label>
            <input type="date" id="appointmentDate" required>
        </div>
        <div class="input-group">
            <label for="appointmentTime">Hour of Appointment</label>
            <input type="time" id="appointmentTime" required>
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
</div>
