<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="backgroundImage">
    <div class="welcome-banner" *ngIf="user">
      <div class="container">
        <h1>Welcome back to TinyCheck, {{ user.username }}!</h1>
        <p>
          Feel free to schedule appointments and manage your information here. Should you have any questions, please don't hesitate to reach out
          </p>
      </div>
      <div class="card-container">
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="card bg-primary card-hover mb-9">
            <div class="card-body text-center px-md-5 px-lg-6 my-2">
              <div class="card-icon-border-large border-primary mtn-80">
                <i class="fa fa-quote-left text-primary" aria-hidden="true"></i>
              </div>
              <blockquote class="blockquote blockquote-sm mt-2">
                <p class="font-normal mb-5">A person's a person, no matter how small.</p>
                <footer class="blockquote-footer text-uppercase text-white">  Dr. Seuss </footer>
              </blockquote>
            </div>
          </div>
        </div>
  
        <div class="col-md-6 col-lg-4">
          <div class="card bg-success card-hover mb-9">
            <div class="card-body text-center px-md-5 px-lg-6 my-2">
              <div class="card-icon-border-large border-success mtn-80">
                <i class="fa fa-quote-left text-success" aria-hidden="true"></i>
              </div>
              <blockquote class="blockquote blockquote-sm mt-2">
                <p class="font-normal mb-5"> The most effective way to raise a nice child is to be a nice adult.</p>
                <footer class="blockquote-footer text-uppercase text-white"> Jhumpa Lahiri </footer>
              </blockquote>
            </div>
          </div>
        </div>
  
        <div class="col-md-6 col-lg-4">
          <div class="card bg-danger card-hover mb-9">
            <div class="card-body text-center px-md-5 px-lg-6 my-2">
              <div class="card-icon-border-large border-danger mtn-80">
                <i class="fa fa-quote-left text-danger" aria-hidden="true"></i>
              </div>
              <blockquote class="blockquote blockquote-sm mt-2">
                <p class="font-normal mb-5">Children need models rather than critics</p>
                <footer class="blockquote-footer text-uppercase text-white"> Joseph Joubert </footer>
              </blockquote>
            </div>
          </div>
        </div>
  
        <div class="col-md-6 col-lg-4">
          <div class="card bg-info card-hover mb-9">
            <div class="card-body text-center px-md-5 px-lg-6 my-2">
              <div class="card-icon-border-large border-info mtn-80">
                <i class="fa fa-quote-left text-info" aria-hidden="true"></i>
              </div>
              <blockquote class="blockquote blockquote-sm mt-2">
                <p class="font-normal mb-5"> To care for those who once cared for us is one of the highest honors</p>
                <footer class="blockquote-footer text-uppercase text-white">Tia Walker </footer>
              </blockquote>
            </div>
          </div>
        </div>
  
        <div class="col-md-6 col-lg-4">
          <div class="card bg-purple card-hover mb-9">
            <div class="card-body text-center px-md-5 px-lg-6 my-2">
              <div class="card-icon-border-large border-purple mtn-80">
                <i class="fa fa-quote-left text-purple" aria-hidden="true"></i>
              </div>
              <blockquote class="blockquote blockquote-sm mt-2">
                <p class="font-normal mb-5"> Parenthood: The days are long, but the years are short</p>
                <footer class="blockquote-footer text-uppercase text-white"> Gretchen Rubin </footer>
              </blockquote>
            </div>
          </div>
        </div>
  
        <div class="col-md-6 col-lg-4">
          <div class="card bg-pink card-hover mb-9">
            <div class="card-body text-center px-md-5 px-lg-6 my-2">
              <div class="card-icon-border-large border-pink mtn-80">
                <i class="fa fa-quote-left text-pink" aria-hidden="true"></i>
              </div>
              <blockquote class="blockquote blockquote-sm mt-2">
                <p class="font-normal mb-5"> The way we talk to our children becomes their inner voice</p>
                <footer class="blockquote-footer text-uppercase text-white">Peggy O’Mara </footer>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="logout-button-container">
          <button (click)="logout()" class="logout-button">Sign out</button>
        </div>
      </div>
      
    </div>