<div class="backgroundImage">
    <div class="welcome-banner">
        
        <div class="container">
          <h1>Welcome to TinyCheck!</h1>
          <p>
            Where the health and well-being of your little ones takes precedence. If you're already a valued member 
            of our caring community, please <a href="/signin" class="link-signin">sign in</a> to seamlessly manage 
            your appointments. For those new to our family, we invite you to <a href="/signup" class="link-signup">sign up</a> 
            and embark on a journey towards exceptional pediatric care for your child.
          </p>
        </div>
      </div>
      
      
</div>