.backgroundImage{
    background-image: url("/assets/images/Home.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
}
.welcome-banner {
    position: relative;
    text-align: center;
    color: #FFF;
    /* Adjust the padding-top to position the content within the darker pink zone */
    padding-top: 200px; /* This value may need to be adjusted */
  }
  
  .container {
    /* We remove absolute positioning to allow natural flow within the banner */
    max-width: 650px; /* Adjust width as necessary */
    margin: 0; /* Centers the container */
    padding: 20px;
  }
  
  .welcome-banner h1 {
    font-size: 2.5rem; /* Adjust as necessary */
    color: #ff6b81; /* A color to match the darker pink zone */
    margin-bottom: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); /* Optional: Adds a shadow for better legibility */
  }
  
  .welcome-banner p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #FFF; /* White color for text */
    margin-bottom: 30px; /* Space before the sign-in/sign-up links */
  }
  
  .welcome-banner .link-signin,
  .welcome-banner .link-signup {
    text-decoration: none;
    font-weight: bold;
    color: #ff6b81; /* Color to match the darker pink zone */
    padding: 5 px 5px;
    transition: all 0.3s ease;
  }
  
  .welcome-banner .link-signin:hover,
  .welcome-banner .link-signup:hover {
   
    color: #FFF;
    text-decoration: none; 
  }

