.Navcontainer {
    background-color: #f8f9fa;
    padding: 2px;
    box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.025);
    color: rgb(245, 4, 149);
    width: 100%;

}

.active,
.topnav a:hover {
    border-bottom: 3px solid rgb(245, 4, 149);
}

.navbar {
    background-color: #ffffff;
}

h2 {
    margin-bottom: 0;
    margin-left: 40px;
    color: #f96a8e ;
}

.topnav {
    display: flex;
    align-items: center;

}

.buttons {
    margin-left: auto;
    display: flex;
    align-items: center;
}


.btn-signin,
.btn-signup {
    margin-right: 10px; /* Adjust spacing between buttons if needed */
}

img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

.btn-signup {
    background-color: white ;
    border-color: #ff8fab ;
    color: #ff8fab;
    border-radius: 25px;
    width: 100px;
    height: 50px;
}

.btn-signin {
    /* background-color: #ff8fab; */
    background: linear-gradient(to right, #ff8fab, #fa6187);
    border: none;
    border-radius: 25px;
    width: 100px;
    height: 50px;
}

.in_active,
.btn-signin:hover {
    background: linear-gradient(to bottom,#fa6187, #ff8fab);
    border: none;
}


.up_active,
.btn-signup:hover {
    background-color: white ;
    border-color: #fa6187 ;
    color: #fa6187;
    border-radius: 25px;

}

.btn-signup:focus, .btn-signup:active , .btn-signin:focus, .btn-signin:active {
    outline: none !important;
}
.disabled-link {
  pointer-events: none; /* Désactive les événements de pointer, ce qui rend le lien non cliquable */
  color: gray; /* Vous pouvez choisir une couleur grise ou toute autre couleur pour indiquer qu'il est désactivé */
}
.dropdown-menu {
    border-color: rgb(245, 4, 149);
}

.dropdown-item:hover {
    background-color: rgb(245, 4, 149);
    color: #fff;
}

.fa-user,
.fa-cogs,
.fa-sign-out-alt {
    margin-right: 5px;
}
