<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="Navcontainer">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="row">
      <h2>Welcome to TinyCheck</h2>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto topnav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/viewOppointments" routerLinkActive="active">View doctor's schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/schedule" routerLinkActive="active">Schedule an appointment</a>
        </li>

        <li class="nav-item dropdown" *ngIf="1">
          <a class="nav-link dropdown-toggle" id="userDropdown" role="button"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img alt="Profile Pic" src="/assets/images/profile_pic.jpg" class="profile-image">
            {{ user.username }}
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
               aria-labelledby="userDropdown">
            <a class="dropdown-item" routerLink="/viewProfile">
              <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
              Profile
            </a>
            <a class="dropdown-item" routerLink="/editProfile">
              <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
              Edit Profile
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:void(0);" (click)="onLogout()">
              <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
              Logout
            </a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>